<div class="container">
<h3>All Parties</h3>

<a href="/parties" class="button">Add Party</a>
<a href="/item_orders" class="button">All Orders</a>

<% @parties.each do |party| %>

<h6>Table: <%= party.table_num %>, Party: <%= party.id %></h6>

<a href="/parties/<%= party.id %>">View Order</a>


<% end %>
</div>
