<h3>Allergens</h3>

<table>
  <th>
    <td><span class="rotate">Milk</span></td>
    <td><span class="rotate">Soybean</span></td>
    <td><span class="rotate">Wheat</span></td>
    <td><span class="rotate">Gluten</span></td>
  </th>
  <tr>
    <td>Burrito - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Burrito - Chicken</td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Burrito - Beef </td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td>Tacos - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Tacos - Chicken</td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Tacos - Beef </td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td>Nachos - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Nachos - Chicken</td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Nachos - Beef </td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td>Fajitas - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Fajitas - Chicken</td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Fajitas - Beef </td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>


</table>
