<div class="container">
<h1>Allergens</h1>

<table class="allergens col-xs-12">
  <th>
    <td><span class="rotate">Milk</span></td>
    <td><span class="rotate">Soybean</span></td>
    <td><span class="rotate">Wheat</span></td>
    <td><span class="rotate">Gluten</span></td>
  </th>
  <tr>
    <td class="item-name">Burrito - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td class="item-name">Burrito - Chicken</td>
    <td>.</td>
    <td>.</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td class="item-name">Burrito - Beef </td>
    <td>.</td>
    <td>.</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td class="item-name">Tacos - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td class="item-name">Tacos - Chicken</td>
    <td>.</td>
    <td>.</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td class="item-name">Tacos - Beef</td>
    <td>.</td>
    <td>.</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td class="item-name">Nachos - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td class="item-name">Nachos - Chicken</td>
    <td>.</td>
    <td>.</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td class="item-name">Nachos - Beef</td>
    <td>.</td>
    <td>.</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td class="item-name">Fajitas - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td class="item-name">Fajitas - Chicken</td>
    <td>.</td>
    <td>.</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td class="item-name">Fajitas - Beef </td>
    <td>.</td>
    <td>.</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
</table>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="/parties">Cheesy Burritos</a>
    </div> -->
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/parties">Tables</a></li>
        <li><a href="/item_orders">Kitchen</a></li>
        <li><a href="/food_items">Menu</a></li>
        <li class="active"><a href="/food_items/allergens">Allergens</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
