<div class="container">
<h3>Allergens</h3>

<table>
  <th>
    <td><span class="rotate">Milk</span></td>
    <td><span class="rotate">Soybean</span></td>
    <td><span class="rotate">Wheat</span></td>
    <td><span class="rotate">Gluten</span></td>
  </th>
  <tr>
    <td>Burrito - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Burrito - Chicken</td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Burrito - Beef </td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td>Tacos - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Tacos - Chicken</td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Tacos - Beef </td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td>Nachos - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Nachos - Chicken</td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Nachos - Beef </td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>

  <tr>
    <td>Fajitas - Veggie</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Fajitas - Chicken</td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
  <tr>
    <td>Fajitas - Beef </td>
    <td></td>
    <td></td>
    <td>&#x2713;</td>
    <td>&#x2713;</td>
  </tr>
</table>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="/parties">Cheesy Burritos</a>
    </div> -->
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/parties">Tables</a></li>
        <li><a href="/item_orders">Kitchen</a></li>
        <li><a href="/food_items">Menu</a></li>
        <li class="active"><a href="/food_items/allergens">Allergens</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
