<div class="container">
<h1>Menu</h1>

<ul class="menu">
<% @food_items.each do |food_item| %>
<li class="menu-items">
<span class="col-xs-9"><%= food_item.name %></span><span class="col-xs-3">$<%= food_item.price %></span> 
</li>
<% end %>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="/parties">Cheesy Burritos</a>
    </div> -->
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/parties">Tables</a></li>
        <li><a href="/item_orders">Kitchen</a></li>
        <li class="active"><a href="/food_items">Menu</a></li>
        <li><a href="/food_items/allergens">Allergens</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
